### How to read the string

In [6]:
#let
str1 = 1,2,3,4
print(str1)
list1=[1,2,3,4,'A','B','C','D', '1']
print(list1)

(1, 2, 3, 4, 1)
[1, 2, 3, 4, 'A', 'B', 'C', 'D', '1']

- as we can see that whatever stored inside 'str1' variable, it is printing the stored string as output when we call that variable
- duplicates are also allowed

### Single quotes , double quotes, triple quotes

- In Python, you can define strings using single quotes ('), double quotes ("), and triple quotes (''' or """)
- Triple quotes are used to define multi-line strings
- Triple-quoted strings are often used for docstrings.( """ hi """ ), hi is docstring
- whatever is present inside tthe quotes(it may be any type of quotes out of 3 types), it prints that only
-       below are few examples

In [8]:
single_quote = 'This is a single-quoted string.'
double_quote = "This is a double-quoted string."

print(single_quote)
print(double_quote)

This is a single-quoted string.
This is a double-quoted string.

In [12]:
triple_quote = '''this is a
multiline string/ this is a docstring
using triple quotes..'''

print(triple_quote)

this is a
multiline string/ this is a docstring
using triple quotes..

### type - len - max - min

#### type()
- The type() function returns the type of the specified object

In [5]:

a= ' hi how are you'
type(a)    #type(object)

str

In [11]:
a = ('apple', 'banana', 'carrot')
b = "Hello World"
c = 33

print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'str'>
<class 'int'>

#### len  (means length)

- len() function returns the number of characters in the string.
- including spaces ' ' also

In [12]:
string1= 'hello world'
len(string1)

11

#### min and max
- min() and max() functions is used when you need to find the smallest and largest values in an series of arguments.
- input should be without spaces
- wont work if, min(hi hello); works if ,min(hihello)

In [16]:
string1= 'helloworld'
print(min(string1))  
print(max(string1))

d
w

In [4]:
#---------------------without using max keyword-----------
arr = [100, 120, 130]
max_value = arr[0]
     # Iterate through the array starting from the second element
for element in arr[1:]:
    if element > max_value:
        max_value = element
print("The maximum value in the array is:", max_value)

The maximum value in the array is: 130

- to get every characters ascii values all at once we use loop ,instead of writing print() for each letter

In [25]:
string1='python'
for i in string1:
    print("the ascii value of {} is {}" .format(i,ord(i)))

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

### addition of two strings(concatenation)

- To concatenate/combine two strings you can use the '+' operator.

In [29]:
#let
str1='hi.'
str2='how are you ?'
print(str1 + str2)

hi.how are you ?

### multiplication
- for muntliplication,  str1=h='hi' , str2='hi' , print(str1 * str2)
- we get TypeError: can't multiply sequence by non-int of type 'str'
- two diff strings cannot be multiplied, but number can multiply with str 
- below is example

In [32]:
str1= 2
str2= 'hi'
print(str1*str2)  # we get 2 times same word ( hi ) as output

hihi

### subtraction  / Division

- subtraction/division is not possible for two strings (alphabets)
- works only for numerics

In [57]:
str1=10
str2=2
print('subtraction:' ,str1-str2)
print('division:' ,str1/str2)

subtraction: 8
division: 5.0

In [54]:
str1='hi'
str2='hi hello'
print(str1/str2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### in opertor (for loop)

- Sometimes you need to find out whether a value is present in a collection of values(given input/string) or not.
- For that we use 'in' operator along with 'for' loop to iterate over the values

In [64]:
string1='Hello'
# i want to print letters using 'in' operator

for i in string1:
    print(i)

H
e
l
l
o

### index

- It Returns the position of the first occurrence of a specified value in a list.
- the value may br string, number, list..etc.
- it shows valueerror, if the value is not found in the list.

In [6]:
str1='hi hello'
str1[0],str1[1],str1[2],str1[3],str1[4],str1[5],str1[6] ,str1[7]

('h', 'i', ' ', 'h', 'e', 'l', 'l', 'o')

In [3]:
# index using for loop
str1='hi hello'
for i in range(4):
    print(str1[i], end='')

hi h

In [18]:
# by using range
str1='hi hello'
for i in range(len(str1)):
    print(i, str1[i])

0 h
1 i
2
3 h
4 e
5 l
6 l
7 o

In [27]:
list1 = ['Apple','Banana','Carrot','Dryfruit']
print(list1.index('Carrot'))

2

- index() With Start and End Parameters

In [37]:
list2 = [100, 120, 140, 160, 180, 200, 300]
print(list2.index(180,0,5))  # (value,start,end)

4

In [53]:
str1='hihello'
for i in range(-len(str1),0):
    print(f"the positive index is {i+7} negative index  is {i} for {str1[i]}")

the positive index is 0 negative index  is -7 for h
the positive index is 1 negative index  is -6 for i
the positive index is 2 negative index  is -5 for h
the positive index is 3 negative index  is -4 for e
the positive index is 4 negative index  is -3 for l
the positive index is 5 negative index  is -2 for l
the positive index is 6 negative index  is -1 for o

### Mutable condition

- Mutable objects are those that allow you to change their value or data in place without affecting the object’s identity.
   - Lists are mutable in Python. We can add or remove elements from the list.
- whereas immutable objects don’t allow this kind of operation.

In [58]:
my_list = [1, 2, 3, 4 ,5 ]
my_list.append(4)
print(my_list)

[1, 2, 3, 4, 5, 4]

In [61]:
my_dict = {"name": "Ram", "age": 25}
new_dict["age"] = 35

print(my_dict)   
print(new_dict)

{'name': 'Ram', 'age': 25}
{'name': 'Ram', 'age': 35}

In [69]:
my_set={1,2,3}
new_set = my_set

new_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [5]:
list1=[100,200,300]  
  # i want to change 100 to 1000
list1[0]=10,20
list1

#it is mutable

[(10, 20), 200, 300]

### slice

- A slice object is used to specify how to slice a sequence.
- You can specify where to start the slicing, and where to end.
- You can also specify the step, which allows you to slice only every other item.

   - start: An integer number specifying at which position to start the slicing. Default is 0, it's Optional. 
   - end  : An integer number specifying at which position to end the slicing.
   - step	: An integer number specifying the step of the slicing. Default is 1 , it's Optional.

In [ ]:
#  -15 -14 -13 -12 -11 -10 -9  -8 -7 -6 -5  -4  -3 -2 -1  
   h    a   i       h   o   w      a  r  e       y  o  u
#  0    1   2   3   4   5   6   7  8  9  10 11  12 13 14

In [10]:
string1='hai how are you'
string1[1:8]

'ai how '

In [11]:
string1[2:-14:-2]    #[start=2 : end= -14-1= -13 : -2]

'i'

In [9]:
string1[2:14:2]   # p
string1[2:14:-2]  # np
string1[2:-14:2]  # np
string1[2:-14:-2] # p
string1[-2:14:2]  # p
string1[-2:-14:2] # np  
string1[-2:-14:-2] # p

'o r o '

### string methods
-  to know what methods are there in string we use dir() function

In [12]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$capitalize -Method$
  - this method makes the first letter capital of given string.

In [15]:
string1="python programming"
string1.capitalize()

'Python programming'

$upper -Method$
  - this method makes the whole given input as capital.

In [17]:
string1 = "python programming"
print(string1.upper()) #we can/cannot use print() in this line

PYTHON PROGRAMMING

$lower -Method$
  - this method makes the whole given input as small letters.

In [19]:
string1 = "PYTHON Programming"
print(string1.lower())

python programming

In [26]:
string1='PYTHON Programming'
print("Capitalize: ",string1.capitalize())
print("Upper: ",string1.upper())
print("lower: ",string1.lower())

Capitalize:  Python programming
Upper:  PYTHON PROGRAMMING
lower:  python programming

$casefold-Method$
  - The casefold() method is a string method that converts all characters of the string into lowercase letters and returns a new string1.
  - This method is similar to the lower() method, but the casefold() method is more stronger, more aggressive, meaning that it will convert more characters into lower case.
  
  - The casefold() method is different from the lower() method in that it can convert some characters that are already lowercase into different lowercase characters. For example, the German letter ß is already lowercase so, the lower() method doesn't make the conversion. But the casefold() method will convert ß to its equivalent character ss

In [28]:
string2="Hi How Are You Doing ?"
string2.casefold()

'hi how are you doing ?'

In [1]:
string2="Hi guyß ?"  # alt+0223===> ß (german letter)
        #  print using casefold
print(string2.casefold())
        #  print using lower
print(string2.lower())
   #  the German letter ß is already lowercase so, the lower() method doesn't make the conversion. 
   #  but the casefold() method will convert ß to its equivalent character ss

hi guyss ?
hi guyß ?

$index-Method$

In [2]:
string1='Python programming'
string1.index('o')

4

In [9]:
string1='Python programming'
for i in range(len(string1)):
    if string1[i]=='o':
        print(i)

4
9

$Find-Method$

In [17]:
 string1='Pyhton Programming'
string1.find('z')
   # if substring not found it returns -1

string1.index('z')
   # ValueError: substring not found

string1.count('z')
  #it returns zero

0

In [19]:
string1.find('ing')

15

$count-Method$
  - This method returns the count of how many times a given object occurs in a List.

In [10]:
string1='Python programming'
count=0
for i in string1:
    if i=='o':
        count+=1
print(count)

string1.count('o')   #  single line

2

2

In [15]:
list1 = [ ('Cat', 'Dog'), ( 'Cat','Bat'), ('Cat', 'Bat'),('Cat',' Bat', 'Dog', 'Sat'), [1, 2], [1, 2, 3], [1, 2] ]
 
           # Counts the number of times 'Cat' appears in list1
print(list1.count(('Cat', 'Bat')))
 
           # Count the number of times sublist '[1, 2]' appears in list1
print(list1.count([1, 2]))

2
2

$Replace-Method$
  - This method replace all the occurances of substring with another substring

In [23]:
string2 = "I'am very hungry."
new_str2=string2.replace('very hungry','famished')
print(new_str2)

I'am famished.

In [24]:
#i just want to print the whole string in lower except the letter 'n' 
str1="asdfglkjhgqwertypoiuyzxcvmnbvnoneandnoneagain"
print(str1.replace('n','N'))

asdfglkjhgqwertypoiuyzxcvmNbvNoNeaNdNoNeagaiN

$strip$- $lstrip$-$rstrip -- METHODS $

  -  strip() method removes any white spaces or specified characters at the start and end of a string.
  -  lstrip() method removes the leading spaces or A specified character from the left side of a string.
  -  rstrip() method removes trailing spaces or characters from the right side of a string.

##### strip()

In [6]:
string1 = " Iam learning python."  # starting we have space in string1
print(string1.strip())

Iam learning python.

In [7]:
sentence1 = "XXIam learning python .XX"
print(sentence1.strip("X"))

Iam learning python .

##### lstrip()

In [8]:
sentence1 = "XXIam learning python .XX"
print(sentence1.lstrip("X"))   # this removes the specified character from left side

Iam learning python .XX

##### rstrip()

In [16]:
sentence1 = "XX Python programming .XX"
print(sentence1.rstrip("X"))   # this removes the specified character from right side

XX Python programming .

$startswith -endswith -- Methods$

  -  startswith() function checks if a string starts with a specified substring. 
     -  Syntax: str.startswith(search_string, start, end)
  -  endswith() checks if a string ends with a substring.
     -  Syntax: str.endswith(search_string, start, end)
     
  -  Both functions return True or False.

##### startswith()

In [22]:
name = "John snow"
print(name.startswith("J"))

True

In [21]:
name1 = "Aegon Targaryen"
print(name1.startswith("a",7,11))
print(name1.startswith("e",6,10))

True
False

##### endswith()

In [26]:
name = "John wick"
print(name.endswith("k"))
print(name.endswith("c"))
print(name.endswith("wick"))

True
False
True

In [7]:
name = "John wick"
print(name.endswith("w",1,7))
print(name.endswith("wick",0,9))

False
True

$isalpha()-isnumeric-isalnum -- Methods$

##### isalpha()

   - The isalpha() method returns True if all the characters are alphabet letters (a-z).
     -  syntax : string.isalpha()

In [14]:
str1 = "Hi how are you"   #spaces are not allowed
str2 = "Helloworld"
num1 = "hello123"
num2 = "12345"
print(str1.isalpha())
print(str2.isalpha())
print(num1.isalpha())
print(num2.isalpha())

False
True
False
False

##### isalnum()

  -  isalnum() function returns True ,if it's made of alphanumeric characters only.
  -  A character is alphanumeric if it's either an alpha or a number. 
  -  If the string is empty, then isalnum() returns False .
     -  syntax : string.isalnum()

In [15]:
str1 = "Hello World"
num1 = "987654321"
strnum = "Hello123"
print(str1.isalnum())
print(num1.isalnum())
print(strnum.isalpha())

False
True
False

##### isnumeric()

  - The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.
    - syntax : string.isnumeric()

In [17]:
num1 = "1234567890"   #spaces are not allowed, if we give space in btw ==> output:False
num2 = "123 hi"
str1 = "hello"

print(num1.isnumeric())
print(num2.isnumeric())
print(str1.isnumeric())

True
False
False

$split--Method$

  - The split() method splits a string into a list.
    -  syntax : string.split() / string.split(separator, maxsplit)
    - seperator : Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
    - maxsplit  : Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [18]:
string1 = "this is about split method"
print(string1.split())

['this', 'is', 'about', 'split', 'method']

In [23]:
str2 = "apple#banana#cherry#orange"
x = str2.split("#")
print(x)
print("----------------------------------")
print(str2.split("#" , 0))   #(separator, maxsplit)
print("----------------------------------")
print(str2.split("#" , 1))
print("----------------------------------")
print(str2.split("#" , 2))

['apple', 'banana', 'cherry', 'orange']
----------------------------------
['apple#banana#cherry#orange']
----------------------------------
['apple', 'banana#cherry#orange']
----------------------------------
['apple', 'banana', 'cherry#orange']