# Tuple


- Tuples are used to store multiple items in a single variable.

- A tuple is a collection of items which is ordered and unchangeable and allow duplicate values..

- Tuples are written with round brackets.

- Tuple items are indexed, the first item has index [0], the second item has index [1]..etc.

**Creating tuple**

In [1]:
var = ("Apple", "Banana", "Carrot")
print(var)

('Apple', 'Banana', 'Carrot')

**Create a Tuple With One Item**

- we are considering a variable called values which holds a tuple that consists of either int or str, the ‘…’ means that the tuple will hold more than one int or str.

In [5]:
values : tuple[int | str,...] = (5,2,7,8,"Apple","banana")
print(values)

(5, 2, 7, 8, 'Apple', 'banana')

**Tuple items can be of any data type:**

-  String, int and boolean data types:

In [14]:
var1 = ("apple", "banana", "carrot")
var2 = (1, 5, 7, 9, 3)
var3 = (True, False, False, True)

print(var1)
print(var2)
print(var3)

('apple', 'banana', 'carrot')
(1, 5, 7, 9, 3)
(True, False, False, True)

In [15]:
var1 = ("xyz", 27, True, 20, "male")
print(var1)

('xyz', 27, True, 20, 'male')

In [16]:
# Allows duplicates

mytuple = ("apple", "banana", "cherry", "Banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry', 'Banana', 'cherry')

- Note: If you are generating a tuple with a single element, make sure to add a comma after the element.

In [10]:
mytuple = ("Nit",)   # ',' makes it a tuple
print(type(mytuple))
 
# NOT a tuple
mytuple = ("Nit")
print(type(mytuple))

<class 'tuple'>
<class 'str'>

**Tuple Constructor in Python**

- Using the tuple() method to make a tuple

- To create a tuple with a Tuple constructor, we will pass the elements as its parameters.

In [8]:
tuple_constructor = tuple(("Naresh", "it", "Python"))
print(tuple_constructor)

('Naresh', 'it', 'Python')

**Tuple Length**
- To determine how many items a tuple has , we use the len() function:

In [9]:
mytuple = ("Nareshit","Python")
print(len(mytuple))

2

## Access Tuple Items

- You can access the tuple items by referring to the index number, which are present inside square brackets..

**Positive Indexing**

In [20]:
      #   [   0          1        2   ]
mytuple = ("Tomato", "potato", "carrot")  # index [0 1 2]  , index starts from '0'(zero)
print(mytuple[1])

potato

**Negative Indexing**

- Negative indexing means negative number count start from the end.

- -1 refers to the last item, -2 refers to the second last item ..so on etc.

In [21]:
        # [   -3        -2        -1   ]
mytuple = ("Tomato", "potato", "carrot")  # index [-3 -2 -1]  index starts from -1
print(mytuple[-1])

carrot

**Range of Index**

- we can specify a range of indexes by specifying where to start and where to end the range.

In [22]:
mytuple = ("Tomato", "Potato", "carrot", "Beetroot", "kiwi", "mango")
print(mytuple[1:5])

('Potato', 'carrot', 'Beetroot', 'kiwi')

- Note: The search will start at index 1 (which is included) and end at index 5 (which is not included).
-   [start : end -1]

In [23]:
 #        [    0        1         2          3         4        5   ]
mytuple = ("Tomato", "Potato", "carrot", "Beetroot", "kiwi", "mango")
print(mytuple[:4])   #[start (0) : End-1 (4-1 = 3)]

('Tomato', 'Potato', 'carrot', 'Beetroot')

In [24]:
 #        [    0        1         2          3         4        5   ]
mytuple = ("Tomato", "Potato", "carrot", "Beetroot", "kiwi", "mango")
print(mytuple[2:])   #[start (2) : ( final item ) ]

('carrot', 'Beetroot', 'kiwi', 'mango')

**Range of Negative Index**
- we need to Specify negative indexes if we want to start the search from the end of the tuple..

In [27]:
mytuple = ("Tomato", "Potato", "carrot", "Beetroot", "kiwi", "mango")
print(mytuple[-4:-1])

('carrot', 'Beetroot', 'kiwi')

## Check if Item Exists
- To determine if a specified item is present in a tuple use the in keyword..

In [28]:
var = ("Tomato", "Potato", "carrot")
if "Potato" in var:
  print("Yes, 'Potato' is in the var tuple")

Yes, 'Potato' is in the var tuple

## Update Tuple Values

- Once a tuple is created, you cannot change its values. Also called immutable..

- You can convert the tuple into a list, change/update the list, and convert the list into a tuple.

In [31]:
a = ("Tomato", "Potato", "Carrot")
b = list(a)
b[1] = "Beans"
a = tuple(b)  # again converting into tuple ( use tuple() )

# Convert the tuple into a list, change/update the list, and convert the list back into a tuple.

print(a)

('Tomato', 'Beans', 'Carrot')

***Add items***
- append() keyword

In [40]:
# append
# we can convert it into a list, add your item/items, and convert it back into a tuple.

var1 = ("Tomato", "Potato", "Carrot")
x = list(var1)
x.append("Beans")
var1 = tuple(x)

print(var1)

('Tomato', 'Potato', 'Carrot', 'Beans')

***Remove/Delete items***
- remove() keyword.
- we cannot remove items from tuple, but we can do from list.
- Convert the tuple into a list, remove item, and convert it back into a tuple..

In [41]:
var1 = ("Tomato", "Potato", "Carrot")
x = list(var1)
x.remove("Carrot")
var1 = tuple(x)

print(var1)

('Tomato', 'Potato')

***you can delete the tuple completely***

- del keyword

In [42]:
var1 = ("Tomato", "Potato", "Carrot")
del var1
print(var1) #this will raise an error because the tuple no longer exists..

NameError: name 'var1' is not defined

## Packing and Unpacking a Tuple.

***Packing a tuple***
- when we create a tuple, we assign values to it..
- That is said to be as "packing" a tuple

In [44]:
vegetables = ("Tomato","Potato","Capcicum")
print(vegetables)

('Tomato', 'Potato', 'Capcicum')

***Unpacking a tuple***
- we can extract the values from tuple back into variables.
- This is called "unpacking" a tuple

In [46]:
vegetables = ("Tomato","Potato","Capcicum")
(red, yellow, green) = vegetables

print(red)
print(green)
print(yellow)

Tomato
Capcicum
Potato

***Using Asterisk****
- If the number of variables is less than the number of values, then we can add an ' * ' to the variable name and the values       will be assigned to the variable as a list

In [50]:
vegetables = ("Tomato","Potato","Capcicum","Beans")   # values are 4
(red, *yellow, green) = vegetables                 # variables are 3

print(red)
print(yellow)
print(green)

Tomato
['Potato', 'Capcicum']
Beans

## Loop Through a Tuple

- By using 'for' loop we can iterate through the tuple items

In [51]:
mytuple = ("Tomato","Potato","Capcicum")
for i in mytuple:
    print(i)

Tomato
Potato
Capcicum

***Loop through index numbers***

- for that we have to use range() and len() function

In [55]:
mytuple = ("Tomato","Potato","Capcicum")
for i in range(len(mytuple)):
    print(i, mytuple[i])

0 Tomato
1 Potato
2 Capcicum

## While Loop

- We can loop through the tuple items by using a while loop.
- Use the len() function to determine the length of the tuple..

In [57]:
mytuple = ("Tomato","Potato","Capcicum","Beans")
i = 0
while i < len(mytuple):
    print(i,mytuple[i])
    i += 1

0 Tomato
1 Potato
2 Capcicum
3 Beans

## Join two tuples

- To join two or more tuples you can use the '+'  operator.

In [58]:
tuple1 = ("Tomato","Potato")
tuple2 = ("Capcicum","Beans")

var = tuple1 + tuple2
print(var)

('Tomato', 'Potato', 'Capcicum', 'Beans')

## Multiply tuples

- If we want to multiply the content of a tuple for a given number of times, we can use the ' * ' operator..

In [60]:
tuple1 = ("Tomato","Potato")
tuple2 = ("Capcicum","Beans")
                  # tuple1 * tuple2 raise an TypeError, because the * operator is not defined for two tuples
var1 = tuple1 * 2
print(var)

('Tomato', 'Potato', 'Tomato', 'Potato')

In [71]:
tuple1 = (1,2,3)
tuple2 = (2,3,4)
       # By using zip we can multiply values in two tuples
var1 = tuple(x*y for x,y in zip(tuple1,tuple2))
print(var1)

(2, 6, 12)